@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h3>Information collected</h3>
<span></span>
<h5>Information collected automatically</h5>
<p>By visiting our Website, our servers automatically collect information provided by your browser. This data may include information such as IP address, browser type and version, language preferences, referring/exit pages and URLs, the time and date of access and other non-personal information.</p>
<h5>Information you provide us by registering for an account</h5>
<p>To become a subscriber to the Service you will need to create a personal profile by registering with the Service. To register you will need to enter your email address and create a user name and a password. By registering, you are authorizing us to collect, store and use your email address in accordance with this Privacy Policy.</p>
<h5>Privacy of children</h5>
<p>The Website does not knowingly collect or solicit information from anyone under the age of 13, or allow anyone under the age of 13 to sign up for the Service. In the event that we learn that we have gathered personal information from anyone under the age of 13 without the consent of a parent or guardian, we will delete that information as soon as possible. If you have reason to believe we have collected such information, please contact us at contact@notice.studio.</p>
