@using VacationManagerWeb.Models
@model TeamsUsersModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
    <div class="div1">

<table class="table">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.Name)*@
                    Team name
                </th>
            </tr>
        </thead>
        <tbody>
                @foreach(var itemModel in Model.TeamsViewModel)
                {
                    <tr><td>@Html.DisplayName(itemModel.Name)</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@itemModel.Id">Delete</a>
                    </td>
                    </tr>
                }
        </tbody>
    
</table>
</div>
<div class="div2">
<table class="table">
    
        <thead>
            <tr>
                <th>
                    TeamLeader
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                @foreach(var itemUser in Model.UsersViewModel)
                {
                    <tr><td>@Html.DisplayName(itemUser.Username) </td></tr>
                }
        </tbody>
    
</table>
</div>
</body>
